<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>

  <appSettings>
    <add key="key1" value="val1"/>
    <add key="Local" value="Data Source=185.60.170.14;Integrated Security=False;User=site02;Password=19Kh1mx#;"/>
    <add key="LiveDNS" value="Data Source=185.60.170.14;Integrated Security=False;User=site02;Password=19Kh1mx#;"/>
  </appSettings>


  <connectionStrings>
    <add name="Local" connectionString="Data Source=185.60.170.14;Integrated Security=False;User=site02;Password=19Kh1mx#;"/>
    <add name="LiveDNS" connectionString="Data Source=185.60.170.14;Integrated Security=False;User=site02;Password=19Kh1mx#;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  
  
  
    <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>
